</head>

<body>

    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="{% if page.url == '/index.html' %}current{% endif %} nav-link">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/machinelearning/">Machine Learning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SAP UI5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABAP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Static Video -->
    <div id="video" class="carousel-item active">
        <div class="view">

            <!--Video source-->
            <video class="video-intro" autoplay loop muted>
                <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
            </video>

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                    <h1 class="mb-4">
                        <strong>Hello! I am Gaurav Chaudhary</strong>
                    </h1>
                    <p>
                        <strong>Come Explore!</strong>
                    </p>
                </div>
                <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

        </div>
    </div>
    <!-- Endof Static Video -->


    <div class="bgimg-0">
        <div class="caption">
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h2 style="text-align:center;"> <b>BIO</b></h2>
        <br>
        <h3 style="text-align: center;"> Personal Profile</h3>
        <br>
        <br>
        <p style="padding-left: 15%; padding-right: 15%;">From a young age, I’ve always had a sense of motivation
            and passion driving me forward. Whether it’s
            exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to
            every experience throughout my life on a personal and professional level. To learn more about me, keep
            exploring my site or reach out directly.</p>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border"
                style="background-color:transparent;font-size:25px;color: #f7f7f7; border: 0px solid !important;">"Believe
                you can and you're halfway there" - Theodore Roosevelt </span>
        </div>
    </div>

    <div class="w3-container w3-white w3-margin-bottom" style="padding-right: 30%; padding-left: 30%;">
        <h2 class="w3-text-grey w3-padding-16" style="text-align: center;">Work Experience</h2>
        <div class="w3-container">
            <img src="images/sap.svg" style="width: 100%;">
            <h5 class="w3-opacity" style="text-align: center;"><b>Software Developer</b></h5>
            <h6 class="w3-text-grey" style="text-align:center;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul
                2016 - <span class="w3-tag w3-grey w3-round">Current</span> &nbsp&nbsp &nbsp&nbsp <i
                    class='fa fa-building fa-fw w3-margin-right'></i>SAP Labs India Pvt. Ltd</h6>
            <p>This time, it is other side of the wall. Joined as a Developer. Altogether different experience. Got to
                work on trending and fastly growing technologies like Machine Learning, Deeping learning, Artificial
                Intelligence.
                I am currently working on the Product Development of Governance, Risk and Compliance - Process Control.
                It is quite a complex product. Helping other products in development areas of Data Science as well.
                For roles and responsibilities and projects undertaken, click <a href="sap.html">here</a>.
            </p>
            <hr>
        </div>
        <div class="w3-container">
            <img src="images/accenture.png" style="width: 100%;">
            <h5 class="w3-opacity" style="text-align: center;"><b>Software Engineering Analyst</b></h5>
            <h6 class="w3-text-grey" style="text-align: center;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct
                2013 - Jul 2016 &nbsp&nbsp &nbsp&nbsp<i class='fa fa-building fa-fw w3-margin-right'></i>Accenture
                Services Pvt. Ltd</h6>
            <h6 class="w3-text-teal"></h6>
            <p>First company, joined as an associate. Learned a lot about SAP technologies. Worked regressively on ABAP
                and developed user interfaces with UI5. For roles and responsibilities and projects undertaken, click <a
                    href="accenture.html">here</a>.</p>
            <hr>
        </div>

        <div class="w3-container">
            <img src="images//freelance.jpg" style="width: 100%;">
            <h5 class="w3-opacity" style="text-align: center;"><b>Freelancing and Self-Learning</b></h5>
            <h6 class="w3-text-gery" style="text-align: center;"><i
                    class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
            <p>There is no age to learn new things. It has become a hobby to work on new techs. Picked up a lot of
                hobbies as well like Photography, Lawn Tennis.
                I try to blog everything I learned, however, time doesn't always permit. </p>
            <hr>
        </div>
    </div>

    <!-- Skills -->

    <div class="bgimg-1">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SKILLS</span>
        </div>
    </div>

    <div style="position:relative;">
        <br><br>
        <div class="w3-container w3-white w3-margin-bottom" style="padding-right: 30%; padding-left: 30%;">
            <h5 style="text-align: center;">ABAP</h5>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
            </div><br>
            <h5 style="text-align: center;">UI5/Fiori</h5>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
            </div><br>
            <h5 style="text-align: center;">Machine Learning and Deep Learning</h5>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
            </div><br>
            <h5 style="text-align: center;">Python</h5>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                    <div class="w3-center w3-text-white">80%</div>
                </div>
            </div><br>
            <h5 style="text-align: center;">NodeJS</h5>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
                    <div class="w3-center w3-text-white">70%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- endof Skills -->

    <!-- Blogs -->
    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">RECENT POSTS</span>
        </div>
    </div>
    <br><br>
    <div id="blogs" class="wrap">
    </div>

    <!-- <div class="footer">
                <p>Footer</p>
              </div> -->
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var light_pos = $('#video').offset().top;
                var light_height = $('#video').height();
                var menu_pos = $('#navbar').offset().top;
                var menu_height = $('#navbar').height();
                var scroll = $(window).scrollTop();

                if (menu_pos > light_pos && menu_pos < (light_pos + light_height)) {
                    $('#navbar').removeClass('bg-black');
                }
                else {
                    if (menu_pos > 1) {
                        $('#navbar').addClass('bg-black');
                    }
                }

            })
        });


        function readTextFile(file) {
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            rawFile.onreadystatechange = function () {
                if (rawFile.readyState === 4) {
                    if (rawFile.status === 200 || rawFile.status == 0) {
                        var allText = rawFile.responseText;
                        var obj = JSON.parse(allText);
                        var data = obj.data;
                        buildpage(data);
                        console.log(obj);
                    }
                }
            }
            rawFile.send(null);
        };

        _getIndex = (path) => {
            for (i = 0; i < path.length; i++) {
                if (path[i]["tagName"] == "DIV") {
                    var id = path[i].getAttribute("Id");
                    if (id.includes("data/")) {
                        return id.split("/")[1];
                    }
                }
            }
        },
            buildpage = (data) => {
                for (i = 0; i < 6; i++) {
                    var div = document.createElement("div");
                    var randomNo = Math.floor(Math.random() * 8) + 1;
                    div.id = "data/" + i;
                    div.onclick = (oEvent) => { console.log("yo") };
                    div.classList.add("box");
                    div.classList.add("box" + randomNo);
                    div.classList.add("shadow" + randomNo);
                    var para = document.createElement("h3");
                    var node = document.createTextNode(data[i].name);
                    if (data[i].color != "") {
                        para.style.color = data[i].color;
                    }
                    if (randomNo > 8) {
                        para.style.color = "black";
                    }
                    para.appendChild(node);
                    div.appendChild(para);

                    var element = document.getElementById("blogs");
                    element.appendChild(div);
                }

            }
        readTextFile("data/data.json");
    </script>
    <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/scripts/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/scripts/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

    <!-- endof blogs -->