<script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/scripts/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/scripts/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>

<!-- Footer -->
<footer class="footer">
    <a class="fa fa-facebook-official w3-hover-opacity"
        href="https://www.facebook.com/gauravchaudhary.ait/about?section=overview" target="_blank"></a>
    <a class="fa fa-instagram w3-hover-opacity" href="https://www.instagram.com/gaurav.1.chaudhary/"
        target="_blank"></a>
    <a class="fa fa-github w3-hover-opacity" href="https://github.com/GauravChaudhary1" target="_blank"></a>
    <a class="fa fa-twitter w3-hover-opacity" href="https://twitter.com/ait_gaurav" target="_blank"></a>
    <a class="fa fa-linkedin w3-hover-opacity" href="https://www.linkedin.com/in/gaurav-chaudhary-53162593/"
        target="_blank"></a>
</footer>

</body>

</html>