<div class="icon-bar">
        {% capture postURL %}{{ page.url | remove:'.html' }}{% endcapture %}
        {% capture postURLAbs %}{{ site.url }}{{ postURL }}{% endcapture %}
        {% capture postURLAbsEsc %}{{ postURLAbs | escape }}{% endcapture %}
        <!-- facebook -->
        <a class="facebook" href="https://www.facebook.com/share.php?u={{ postURLAbs | escape }}&title={{ page.title }}" ><i class="fa fa-facebook"></i></a>
      
        <!-- twitter -->
        <a class="twitter" href="https://twitter.com/intent/tweet?status={{ page.title }}+{{ postURLAbs | escape }}" ><i class="fa fa-twitter"></i></a>
      
        <!-- google plus -->
        <a class="google" href="https://plus.google.com/share?url={{ postURLAbs | escape }}" ><i class="fa fa-google"></i></a>
      
        <!-- linkedin -->
        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ postURLAbs | escape }}&title={{ page.title }}" ><i class="fa fa-linkedin"></i></a>

        </div>