<script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/scripts/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/scripts/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>

<footer>
    <div id="share">

        <!-- facebook -->
        <a class="facebook" href="https://www.facebook.com/share.php?u={{ site.url }}&title={{ page.title }}" target="blank"><i class="fa fa-facebook"></i></a>
      
        <!-- twitter -->
        <a class="twitter" href="https://twitter.com/intent/tweet?status={{ page.title }}+{{ site.url }}" target="blank"><i class="fa fa-twitter"></i></a>
      
        <!-- google plus -->
        <a class="googleplus" href="https://plus.google.com/share?url={{ site.url }}" target="blank"><i class="fa fa-google-plus"></i></a>
      
        <!-- linkedin -->
        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}&title={{ page.title }}" target="blank"><i class="fa fa-linkedin"></i></a>
                
        
      </div>
</footer>

</body>

</html>