---
# no title/section/description; use defaults.
category: "sapui5"
pagination:
    enabled: true
    collection: 
---

{% include head.html %}
{% include navbar.html %}
{% include sidebar.html %}
<div class="posts">    
    {% for post in site.categories.sapui5 %} 

    <a class="post" href="{{ post.url | remove:'.html' | escape }}">
    <article>

        <h2>
            {{ post.category | escape }}
            {{ post.title | escape }}

            <!-- TODO categories -->
        </h2>
        <i><time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></i>
        <br>
        <p>
            {{ post.description | escape }}
        </p>

       

        <div class="continue">Continue reading &rarr;</div>

    </article>
    </a>

{% endfor %}
</div>

{% include foot.html %}