---
section: Blog
# TODO custom description?
og_type: blog
---

{% include head.html %}
{% include navbar.html %}   

    {% for post in site.posts %}
    {% unless post.draft == true %}
    <a class="post" href="{{ post.url | remove:'.html' | escape }}">
    <article>

        <h2>
            {{ post.title | escape }}          
            <!-- TODO categories -->
        </h2>
        <i><time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></i>
        <br>
        <p>
            {{ post.description | escape }}
        </p>

        <div class="stats">
            <!-- This gets populated by script below -->
            <span class="comments-count">&nbsp;</span>
        </div>

        <div class="continue">Continue reading &rarr;</div>

    </article>
    </a>
    {% endunless %}
    {% endfor %}
    

{% include foot.html %}
