---
section: Blog
og_type: article
---

{% include bloghead.html %}
{% include navbar.html %}
{% include share.html %}
    <article>

        {% capture postURL %}{{ page.url | remove:'.html' }}{% endcapture %}
        {% capture postURLAbs %}{{ site.url }}{{ postURL }}{% endcapture %}
        {% capture postURLAbsEsc %}{{ postURLAbs | escape }}{% endcapture %}

        <h2>
            <a class="current" href="{{ postURL | escape }}">
                {{ page.title | escape }}</a>            
            <!-- TODO categories? -->
        </h2>
        <i><time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time> </i>

        <!-- important: don't escape content! it'll actually be HTML markup. -->
        {{ content }}

    </article>


    {% include foot.html %}
